test.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1376,
        -112
      ],
      "id": "a8589645-7f6e-4d36-b59d-fe6b2434595f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX",
            "mode": "list",
            "cachedResultName": "n8n-tests",
            "cachedResultUrl": "https://drive.google.com/drive/folders/19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1168,
        -112
      ],
      "id": "57833308-2425-4bf2-a054-b3151bc61ab0",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6qPTH5ldV1hRKhEy",
          "name": "Google Drive Main account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        -112
      ],
      "id": "5ef33f09-07ab-4722-a416-2b30a2589853",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6qPTH5ldV1hRKhEy",
          "name": "Google Drive Main account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Loop Over Items').item.json.folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX",
          "mode": "list",
          "cachedResultName": "n8n-tests",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        -208
      ],
      "id": "d79f7431-c469-4bf0-9b51-dafd7bdb6310",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6qPTH5ldV1hRKhEy",
          "name": "Google Drive Main account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        -80
      ],
      "id": "b4771b25-3ef0-4aca-aa96-6c6069dcf2c7",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6qPTH5ldV1hRKhEy",
          "name": "Google Drive Main account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -112
      ],
      "id": "393756f9-ff0b-472e-bd53-75a0ac78df99",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folder_name }}",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX",
            "mode": "list",
            "cachedResultName": "n8n-tests",
            "cachedResultUrl": "https://drive.google.com/drive/folders/19fUBC0Es2sTCdNYVXRqnB04PrbG4ptSX"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -96
      ],
      "id": "2d91f7f1-704d-4608-a711-4c05d765cef4",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6qPTH5ldV1hRKhEy",
          "name": "Google Drive Main account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your_email@gmail.com",
        "subject": "=Files moved [{{ $json.data.length }}]",
        "message": "=The following files have been moved to their respective folders:\n\n<ul>\n{{ $json.data.map(function(item) {\n    return `<li>${item.name}</li>`\n  }).join('\\n') \n}}\n</ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        -288
      ],
      "id": "d114f5d9-3459-4f04-bd69-5abeeab4d68d",
      "name": "Send a message",
      "webhookId": "2b456683-c3e6-426f-9837-208434556f10",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZW5uqcPI7VG3Kh0D",
          "name": "Gmail Jabbson Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        112,
        -288
      ],
      "id": "9fa61f5d-ab8e-43f2-8b3f-e4bde1f85aa8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2658177a-0d2d-41ad-b222-1565bc41857a",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/sn\\d{4,5}\\b/gmi",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        -112
      ],
      "id": "36d9b371-0417-43ba-980e-5c49e38c5963",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tesseract-ocr-api:8000/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "file_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        -112
      ],
      "id": "d6c260c1-989f-4888-8def-83ca125d451b",
      "name": "OCR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "463a9889-69d4-4adf-af09-ec8cfdf3e2e9",
              "name": "folder_name",
              "value": "={{ $json.text.match(/SN\\d+/).first() }}",
              "type": "string"
            },
            {
              "id": "38494fa6-458c-4add-a434-a62840467fe7",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -112
      ],
      "id": "7c73845a-261e-49c0-9576-ad2e908c803a",
      "name": "vars"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1634f01c-ccc7-466b-af9f-4a65d2399387",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -96
      ],
      "id": "9f277cd9-cfc8-478d-b025-3f08d3aac8f3",
      "name": "No Folder?"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "No Folder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vars": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Folder?": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9423335a0111216c302866f5fc1752af6da6042c706e1cc46ecd439bca874130"
  }
}